body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    border: 2px solid red;
    text-align: center;
    width: 80%;
    margin: auto;
}
section{
    padding: 20px;
}
#section7 ol, #section9 ul {
    text-align: left;
}
span{
    color: red;
}
.error{
    color:red;
    display: none;
}